/* Colors */
:root {
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
  --White: hsl(0, 0%, 100%);
  --Yellow: hsl(47, 88%, 63%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--Gray-950);
}

/* Font Styles */
body {
  align-items: center;
  background-color: var(--Yellow);
  display: flex;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  height: 100vh;
  justify-content: center;
}

.card {
  background-color: var(--White);
  border: 1px black solid;
  border-radius: 20px;
  height: auto;
  padding: 2.4rem;
  width: 279px;
}

.card .art {
  background-image: url(/assets/images/illustration-article.svg);
  background-position: center;
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.card .card__learning {
  background-color: var(--Yellow);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin: 24px 0 12px;
  padding: 6px 12px;
}

.card .card__learning:hover {
  opacity: 0.9;
  transition: opacity ease-in 0.3s;
}

.date {
  display: block;
  font-size: 1.2rem;
}

.main-heading {
  margin: 12px 0;
}

.description {
  font-size: 1.4rem;
  color: var(--Gray-500);
  line-height: 1.5;
  margin-bottom: 24px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile .profile__avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
