/* Colors */
:root {
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
  --White: hsl(0, 0%, 100%);
  --Yellow: hsl(47, 88%, 63%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--Gray-950);
  line-height: 1.5;
}

/* Font Styles */
body {
  align-items: center;
  background-color: var(--Yellow);
  display: flex;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.card {
  background-color: var(--White);
  border: 1px var(--Gray-950) solid;
  border-radius: 20px;
  height: auto;
  padding: 2.4rem;
  width: 279px;
  box-shadow: 8px 8px #000;
}

.card .art {
  background-image: url(/assets/images/illustration-article.svg);
  background-position: center;
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.card .card__learning {
  background-color: var(--Yellow);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin: 24px 0 12px;
  padding: 6px 12px;
}

.card .card__learning:hover {
  opacity: 0.9;
  transition: opacity ease-in 0.3s;
}

.card .date {
  display: block;
  font-size: 1.2rem;
}

.main-heading {
  margin: 12px 0;
}

.description {
  color: var(--Gray-500);
  font-size: 1.4rem;
  margin-bottom: 24px;
}

.profile {
  align-items: center;
  display: flex;
}

.profile .profile__avatar {
  height: 32px;
  margin-right: 12px;
  width: 32px;
}

.attribution {
  background-color: var(--White);
  border-radius: 14px;
  border: 1px var(--Gray-950) solid;
  margin-top: 20px;
  padding: 5px 24px;
  text-align: center;
  width: 279px;
}

a:visited,
a:focus,
a {
  color: var(--Gray-950);
}

@media only screen and (min-width: 1440px) {
  .card,
  .attribution {
    width: 336px;
  }

  .card .card__learning {
    font-weight: bold;
    padding: 4px 12px;
  }

  .card .card__learning,
  .card .date {
    font-size: 1.4rem;
  }

  .main-heading {
    font-size: 2.4rem;
  }

  .main-heading:hover {
    color: var(--Yellow);
  }

  .description {
    font-size: 1.6rem;
  }
}
